body {
    background-color: #ffffff;
    color: #000000;
    transition: background-color 0.3s, color 0.3s;
}
body.dark-mode {
    background-color: #000000;
    color: #ffffff;
}
.navbar {
    transition: background-color 0.3s, color 0.3s;
}
.navbar.light-mode {
    background-color: #ffffff;
    color: #000000;
}
.navbar.dark-mode {
    background-color: #000000;
    color: #ffffff;
}
.navbar a.navbar-brand,
.navbar a.nav-link {
    transition: color 0.3s;
}
.navbar.light-mode a.navbar-brand,
.navbar.light-mode a.nav-link {
    color: #000000;
}
.navbar.dark-mode a.navbar-brand,
.navbar.dark-mode a.nav-link {
    color: #ffffff;
}
.navbar.light-mode .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='black' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar.dark-mode .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler {
    border-color: transparent;
}
.form-check.form-switch {
    margin-left: auto;
    margin-right: 10px;
}
.navbar-collapse {
    flex-grow: 0;
}